<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bus.android.com.lovebus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lovebus.activity.Main_Activity" />
        <activity android:name="com.lovebus.activity.StartPictureActivity" />
        <activity android:name="com.lovebus.activity.FirstLoginActivity" />
        <activity android:name="com.lovebus.activity.SelectCityActivity" />
        <activity android:name="com.lovebus.activity.OffLineMapActivity" />
        <activity android:name="com.lovebus.activity.FrequentRouteActivity" />
        <activity android:name="com.lovebus.activity.UserCollectionActivity" />
        <activity android:name="com.lovebus.activity.RemindSettingsActivity" />
        <activity android:name="com.lovebus.activity.NoticeActivity" />
        <activity android:name="com.lovebus.activity.SystemSettingsActivity" />
        <activity android:name="com.lovebus.activity.PrivacyAndSafetyActivity" />
        <activity android:name="com.lovebus.activity.ThirdPartyBindActivity"></activity>
    </application>

</manifest>